version: '3.7'
services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=admin
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d/
    container_name: postgres-pt
